<div class="jumbotron landing-background">
  <img class="landing-cycler-image" src="assets/Vespa.png"/>
  <h1>
  We helped 
  <span class="landing-cycler-person-name">Virna</span>
  connect 
  <span class="landing-cycler-pronoun">her</span>
  <span class="landing-cycler-text">Car</span>
  to the Internet.
  </h1>
  <h2>Start now, so you can do it too.</h2>
  <button class="btn-call-to-action btn btn-success btn-lg">Get Started</button>
</div>
<div class="landing-shit">
  <div class="container">
    <div class="row">
      <div class="text-center col-md-10 col-md-offset-1">
        <h1>
          Dead simple integration<br>
          <small>comes in your favorite language, too.</small>
        </h1>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <div class="landing-coding-instructions">
          <ul class="nav nav-pills">
            <li class="active"><a href="#ruby" role="tab" data-toggle="tab">Ruby</a></li>
            <li><a href="#javascript" role="tab" data-toggle="tab">JavaScript</a></li>
            <li><a href="#python" role="tab" data-toggle="tab">Python</a></li>
          </ul>
          <div class="tab-content landing-terminal-text-container">
            <div id="ruby" class="tab-pane active">
              <span class='text-center landing-terminal-text'>$ gem install darna</span>
              <pre style="text-align: left">
                require 'darna'

                Darna.configure do |c|
                  c.auth_token = 'YOUR_TOKEN_HERE'
                  c.project = 'PROJECT_NAME'
                end

                collection = Darna.retrieve 'collection-name'
                puts collection #yay!
              </pre>
            </div>
            <div id="javascript" class="tab-pane">
              <span class='text-center landing-terminal-text'>$ bower install darna</span>
              <pre style="text-align: left">
                Darna.configure({
                  project: 'name-of-your-project',
                  authToken: 'auth-token-here'
                });

                Darna.retrive('collection-name', function(data) {
                  console.log(data); // yay!
                });
              </pre>
            </div>
            <pre id="python" class="tab-pane landing-terminal-text">$ pip install official-darnatics</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
