<div class="jumbotron landing-background">
  <img class="landing-cycler-image" src="assets/Vespa.png"/>
  <h1><span class="landing-cycler-person-name">Virna</span> Wants to Connect <span class="landing-cycler-pronoun">her</span> <span class="landing-cycler-text">Car</span> To The Internet</h1>
  <h2>And with Our Shit, <span class="landing-cycler-pronoun">her</span> can do it.</h2>
  <button class="btn-call-to-action btn btn-primary btn-lg">Get Started</button>
</div>

<div class="landing-shit">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="landing-coding-instructions">
          <ul class="nav nav-pills">
            <li class="active"><a href="#ruby" role="tab" data-toggle="tab">Ruby</a></li>
            <li><a href="#javascript" role="tab" data-toggle="tab">JavaScript</a></li>
            <li><a href="#python" role="tab" data-toggle="tab">Python</a></li>
          </ul>
          <div class="tab-content landing-terminal-text-container">
            <pre id="ruby" class="tab-pane active landing-terminal-text">$ gem install official-darnatics</pre>
            <pre id="javascript" class="tab-pane landing-terminal-text">$ npm install official-darnatics</pre>
            <pre id="python" class="tab-pane landing-terminal-text">$ pip install official-darnatics</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
