<div class="jumbotron landing-background">
  <img class="landing-cycler-image" src="assets/Vespa.png"/>
  <h1>I Want to Connect My <span class="landing-cycler-text">Car</span> To The Shit</h1>
  <p class="lead">Bacon ipsum dolor sit amet ball tip venison jerky turkey pig meatball. Short ribs sausage shankle, ball tip ribeye pancetta short loin chuck bacon prosciutto turkey andouille brisket pig meatball. Beef ribs filet mignon turkey shoulder hamburger turducken pancetta strip steak ham swine shankle short loin. Ham tenderloin pancetta shank, flank leberkas jerky frankfurter ball tip ground round sirloin salami shoulder.</p>
</div>

<div class="landing-shit">
  <div class="container">
    <div class="row landing-icon-tray">
      <div class="col-md-4">
        <%= image_tag 'TV.png' %>
        <h1>ICONZ</h1>
      </div>
      <div class="col-md-4">
        <%= image_tag 'Beer.png' %>
        <h1>ICONZ</h1>
      </div>
      <div class="col-md-4">
        <%= image_tag 'Wallet.png' %>
        <h1>ICONZ</h1>
      </div>
    </div>

  </div>
</div>
