.project-div {
  background-color: #4E5D6C;
  border-bottom: 1px darken(#4E5D6C, 10%), solid;
  border-top: 1px lighten(#4E5D6C, 10%), solid;
  margin-bottom: 0.5em;
  min-height: 70px;
  padding: 1em;
}

