.landing-background {
  background-image: url('peoplez.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 960px;
  margin-top: -20px;
  padding: 10em;
  text-align: center;
  h1 {
    font-size: 6em;
  }
}

.landing-coding-instructions {
  border-radius: 32px;
  color: #333;
  font-size: 2em;
  margin-bottom: 5em;
  margin-top: 2em;
  text-align: center;
}

.landing-cycler-text {
  color: #2B3E50;
  font-weight: bolder;
}

.btn-call-to-action {
  font-style: 1.5em;
  margin-top: 1em;
}

.landing-terminal-text-container{
  background-color: #FFF;
}

.landing-terminal-text {
  font-size: 1em;

}
