.landing-background {
  background-image: url('landingngtataymo.jpg');
  background-size: cover;
  height: 960px;
  margin-top: -20px;
  padding: 20em;
  text-align: center;
  h1 {
    font-size: 6em;
  }
}
