body.landing {
  background-color: #FFF;
}
.landing-background {
  background: url('landingngtataymo.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 960px;
  margin-top: -20px;
  padding: 20em;
  text-align: center;
  h1 {
    font-size: 6em;
  }
}

.landing-icon-tray {
  color: #333;
  margin-top: 2em;
  text-align: center;
}
